/* 
CSS file structure: 
1. Wrapper + media queries
2. Title + intro
3. Body main elements
4. Body section

colours:
- light blue: #00a2ff
- faded blue: #6ecaff
- white: #ffffff
- grey black: #131315
- black: black
*/


/* base wrapper */
#wrapper{
	margin: 0px;
	min-width: 320px;
	background-color: black;
}

/* ---- MEDIA QUERIES ---- */
/* Extra small devices (phones) */
@media (max-width: 460px) {
	#logo_panel {
		display: none !important;
	}

	/* set nav type */
	nav {
		display: none !important;
	}
	#menuToggle {
		display: block !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
	intro {
		font-size: 50px;
	}
	#heading_1 {
		display: none !important;
	}
	#heading_2 {
		display: flex !important;
	}

	/* title text */
	.title_text {
		font-size: calc((1vw + 1vh)*3.2); 
		/* responsive text: https://codepen.io/JacobLett/pen/jQWEoY */
	}
	#intro_text_1 {
		letter-spacing: calc((1vw + 1vh)*0.5);
		font-size: calc((1vw + 1vh)*4.15); 
	}
	#intro_text_2 {
		font-size: calc((1vw + 1vh)*3.3); 
		position: relative;
	}
	#subtitle_text {
		font-size: calc((0.75vw + 1vh)); 
		line-height: 200%;
	}
	#title_list {
		line-height: calc(4.2vw + 6vh);
	}
	
	.body_section {
		display: flex;
		margin: 20px;
		width: 100%;
		flex-direction: column;
	}
	.body_text p {
		font-size: 14px;
	}
	.arrow {
		width: 100%;
	}
	.arrow a:link{
		font-size: 8vh;
	}
	.arrow_text{
		padding: 12px;
		padding-bottom: 14px;
	}
	.arrow a:hover{
		font-size: 8vh;
	}
}

/* Small devices (phones) */
@media (min-width: 460px) {
	#logo_panel {
		display: none !important;
	}

	/* set nav type */
	nav {
		display: none !important;
	}
	#menuToggle {
		display: block !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
	intro {
		font-size: 50px;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* title text */
	.title_text {
		font-size: calc((1vw + 1vh)*4.4); 
		/* responsive text: https://codepen.io/JacobLett/pen/jQWEoY */
	}
	#intro_text_1 {
		letter-spacing: calc((1vw + 1vh)*0.58);
		font-size: calc((1vw + 1vh)*5.1); 
	}
	#intro_text_2 {
		font-size: calc((1vw + 1vh)*4); 
		position: relative;
	}
	#subtitle_text {
		font-size: calc((1vw + 1.3vh)); 
		line-height: 200%;
	}
	#title_list {
		line-height: calc(5.2vw + 6vh);
	}
	
	.body_section {
		margin: 20px;
		width: 100%;
		flex-direction: row;
	}
	.body_text {
		font-size: 16px;
	}
	.arrow {
		width: 120px;
	}
	.arrow a:link{
		font-size: 14vh;
	}
	.arrow a:hover{
		font-size: 16vh;
	}
}
 
/* Medium devices (tablets) */
@media (min-width: 768px) 
{ 
	#logo_panel {
		display: flex !important;
	}
  
	/* set nav type */
	nav {
		display: flex !important;
	}
	#menuToggle {
		display: none !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 28px;
	}
	nav li{
		padding-left: 18px;
		font-size: 2px;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* title text */
	.title_text {
		font-size: calc((1vw + 1vh)*3); 
		/* responsive text: https://codepen.io/JacobLett/pen/jQWEoY */
	}
	#intro_text_1 {
		letter-spacing: calc((1vw + 1vh)*0.5);
		font-size: calc((1vw + 1vh)*3.6); 
	}
	#intro_text_2 {
		font-size: calc((1vw + 1vh)*2.97); 
		position: relative;
	}
	#subtitle_text {
		font-size: calc((1vw + 1vh)*0.85); 
		line-height: 300%;
	}
	#title_list {
		line-height: calc(4vw + 6vh);
	}

	.body_section {
		width: 70vw;
		flex-direction: row;
	}
	.body_text {
		font-size: 19px;
	}
	.arrow {
		width: 120px;
	}
	.arrow a:link{
		font-size: 14vh;
	}
	.arrow a:hover{
		font-size: 16vh;
	}
 }

/* Large devices (desktops) */
@media (min-width: 992px) {
	#logo_panel {
		display: flex !important;
	}

	/* set nav type */
	nav {
		display: flex !important;
	}
	#menuToggle {
		display: none !important;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
	nav li{
		padding-left: 30px;
		font-size: 24px;
	}
	#title_list {
		line-height: calc(6vw + 6vh);
	}

	/* title text */
	.title_text {
		font-size: calc((1vw + 1vh)*3); 
		/* responsive text: https://codepen.io/JacobLett/pen/jQWEoY */
	}
	#intro_text_1 {
		letter-spacing: calc((1vw + 1vh)*0.5);
		font-size: calc((1vw + 1vh)*3.6); 
	}
	#intro_text_2 {
		font-size: calc((1vw + 1vh)*2.97); 
		position: relative;
	}
	#subtitle_text {
		font-size: calc((1vw + 1vh)*0.85); 
		line-height: 300%;
	}
	#title_list {
		line-height: calc(4vw + 6vh);
	}

	.body_section {
		width: 60vw;
		flex-direction: row;
	}
	.body_text {
		font-size: 19px;
	}
	.arrow {
		width: 120px;
	}
	.arrow a:link{
		font-size: 14vh;
	}
	.arrow a:hover{
		font-size: 16vh;
	}
}

/* ---- TOP BAR + NAV BAR ---- */
#topbar {
	display: flex;
}
#topbar h1 {
	margin-top: auto; 
	margin-bottom: auto;
	text-align: left;
}
#nav_image{
    width: 60px;
    height: 60px;
    margin: 20px;
}

/* horizontal nav */
nav {
    margin-right:20px; 
	margin-left: auto;
}
nav ul{
	padding-right:10px;
	margin-top: auto;
	margin-bottom: auto;
}
nav li{
	display:inline;
}

/* hamburger menu */
#menuToggle {
	display: block;
	position: absolute;
	top: 39px;
	right: 39px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: white;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}
#menuToggle span:first-child { transform-origin: 0% 0%; }
#menuToggle span:nth-last-child(2) { transform-origin: 0% 100%; }
#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}
#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

#menu {
	position: absolute;
	width: 220px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #131315;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	overflow-x: hidden;
}
#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/* link styles */
a:link{
	font-family: arial;
	text-decoration: none;
	font-size: 18px;
	color: white;
}
a:visited{
	color: white;
}
a:active{
	color: #00a2ff;
}

/* ---- TITLE ELEMENTS ---- */
#top_section {
	background-color: #131315;
	background-image: url("../images/tile.jpg");
	background-repeat: repeat;
	background-size: 40%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}
#intro {
	margin: 0px;
	align-items: center;
	font-family: 'Monaco', sans-serif;
	display: flex; 
	color: white;
	height: 80vh;
	padding-bottom: 10vh
}

#title_list {
	list-style-type: none;
	padding-left: 0px;
	width: 100%; 
	margin-left: 9vw;
}

.title_text {
	text-align: left;
}
#intro_text_1 {
	/* website developer */
	font-family: 'Alumni Sans', sans-serif; 
}
#intro_text_2 {
	/* + programmer */
	font-family: 'IBM Plex Mono', monospace;
	position: relative;
	top: -4px;
}
#subtitle_text {
	color: darkgray;
}

/* logo side panel */
#logo_panel {
	display: flex;
	align-items: center; 
	padding-right: 4vw;
}
#logo_image{
	height: calc(15vw + 30vh);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -8px;
}

/* ---- BODY ELEMENTS ---- */
header{
	display: flex;
	align-items: center;
	font-family: 'Monaco', sans-serif;
	color: white;
}

body {
	color: white;
	overflow-x: hidden;
	position: relative
}
html {
	overflow-x: hidden;
}

article {
	padding: 20px;
	text-align: justify;
	color: black;
	background-color: #00a2ff; /* default background */
	/* background-gradient https://codepen.io/P1N2O/pen/pyBNzX */
	background: linear-gradient(-45deg, #7be1ff, #002a7b);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer{
	display: flex;
	align-items: center;
	font-size: 14px;
	background-color: #131315;
	color: white;
	padding: 15px 0px 5px 0px;
}
footer p {
	text-align: center;
}

/* body text section */
.body_section {
	display: flex;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}
.body_text {
	display: block;
	background-color: black;
	color: white;
	padding: 16px 20px 0px 20px;
	font-family: 'Monaco', sans-serif;
	width: 100%;
}
.body_section h3 {
	font-family: 'IBM Plex Mono', monospace; 
	font-size: 24px;
	font-weight: 700;
}
.arrow{
	display : flex;
  	align-items : center;
	justify-content: center;
	background-color: white;
}
.arrow_text{
	line-height: 60%;
}
.arrow a:link{
	text-decoration: none;
	color: #00a2ff;
}
.arrow a:visited{
	color: #00a2ff;
}
.arrow a:active{
	color: #6ecaff;
}