/* 
CSS file structure: 
1. Wrapper + media queries
2. Title + intro
3. Body main elements
4. Body section

colours:
- light blue: #00a2ff
- faded blue: #6ecaff
- white: #ffffff
- grey black: #131315
- black: black
*/


/* base wrapper */
#wrapper{
	margin: 0px;
	background-color: black;
}

/* ---- MEDIA QUERIES ---- */
/* Extra small devices (phones) */
@media (max-width: 400px) {
	/* set nav type */
	nav {
		display: none !important;
	}
	#menuToggle {
		display: block !important;
	}
	#heading_1 {
		display: none !important;
	}
	#heading_2 {
		display: flex !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
}

/* Small devices (phones) */
@media (min-width: 400px) {
	/* set nav type */
	nav {
		display: none !important;
	}
	#menuToggle {
		display: block !important;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
}
 
/* Medium devices (tablets) */
@media (min-width: 768px) 
{ 
	/* set nav type */
	nav {
		display: flex !important;
	}
	#menuToggle {
		display: none !important;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 28px;
	}
	nav li{
		padding-left: 18px;
		font-size: 2px;
	}
 }

/* Large devices (desktops) */
@media (min-width: 992px) {
	/* set nav type */
	nav {
		display: flex !important;
	}
	#menuToggle {
		display: none !important;
	}
	#heading_1 {
		display: flex !important;
	}
	#heading_2 {
		display: none !important;
	}

	/* change sizings */
	#topbar h1 {
		font-size: 34px;
	}
	nav li{
		padding-left: 30px;
		font-size: 24px;
	}
}

/* ---- TOP BAR + NAV BAR ---- */
#topbar {
	display: flex;
}
#topbar h1 {
	margin-top: auto; 
	margin-bottom: auto;
	text-align: left;
}
#nav_image{
    width: 60px;
    height: 60px;
    margin: 20px;
}

/* horizontal nav */
nav {
    margin-right:20px; 
	margin-left: auto;
}
nav ul{
	padding-right:10px;
	margin-top: auto;
	margin-bottom: auto;
}
nav li{
	display:inline;
}

/* hamburger menu */
#menuToggle {
	display: block;
	position: absolute;
	top: 42px;
	right: 42px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}
#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: white;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}
#menuToggle span:first-child { transform-origin: 0% 0%; }
#menuToggle span:nth-last-child(2) { transform-origin: 0% 100%; }
#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}
#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

#menu {
	position: absolute;
	width: 220px;
	margin: -100px 0 0 0;
	padding: 50px;
	padding-top: 125px;
	right: -100px;
	background: #131315;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	overflow-x: hidden;
}
#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/* link styles */
a:link{
	font-family: arial;
	text-decoration: none;
	font-size: 18px;
	color: white;
}
a:visited{
	color: white;
}
a:active{
	color: #00a2ff;
}

/* ---- BODY ELEMENTS ---- */
header{
	display: flex;
	align-items: center;
	font-family: 'Monaco', sans-serif;
	color: white;
}

body {
	color: white;
	overflow-x: hidden;
	position: relative
}
html {
	overflow-x: hidden;
}

article {
	padding: 20px;
	text-align: justify;
	color: black;
	background-color: #00a2ff; /* default background */
	/* background-gradient https://codepen.io/P1N2O/pen/pyBNzX */
	background: linear-gradient(-45deg, #7be1ff, #002a7b);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

footer {
	display: flex;
	align-items: center;
	font-size: 14px;
	background-color: #131315;
	color: white;
	padding: 15px 0px 5px 0px;
}
footer p {
	text-align: center;
}