/* base wrapper */
#wrapper{
	margin: 0px;
	min-width: 320px;
	background-color: black;
	background-image: url("../images/error.gif");
	background-repeat: no-repeat;
  	background-size: auto;
	color: white;
	height: 100vh;
}

article {
	display: block;
}

